/**
 * All Hallows Eve theme
 *
 * @author Flinn Mueller
 * @version 1.0.1
 * @attribution Adapted from Ultraviolet RubyGem
 */
.item-page pre, .itemFullText pre, .yoo-zoo pre{
    background: #111;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.item-page code, .itemFullText code, .yoo-zoo code, .item-page pre, .itemFullText pre, .yoo-zoo pre {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #9933CC;
}

pre .constant {
    color: #3387CC;
}

pre .storage {
    color: #CC7833;
}

pre .string {
    color: #66CC33;
}

pre .keyword, pre .selector {
    color: #CC7833;
}

pre .parent {
    font-style: italic;
}

pre .entity, pre .meta {
}

pre .support {
    color: #C83730;
}
.item-page pre .close, .itemFullText pre .close, .yoo-zoo pre .close{
	float: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: coral;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=20);

}