/**
 * Blackboard theme
 *
 * @author Domenico Carbotta
 * @author Craig Campbell
 * @version 1.0.2
 *
 * Adapated from Domenico Carbotta's TextMate theme of the same name
 */
.item-page pre, .itemFullText pre, .yoo-zoo pre {
    background: #fff;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.item-page code, .itemFullText code, .yoo-zoo code, .item-page pre, .itemFullText pre, .yoo-zoo pre {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #727272;
}

pre .constant {
    color: #D8FA3C;
}

pre .storage {
    color: #FBDE2D;
}

pre .string, pre .comment.docstring {
    color: #61CE3C;
}

pre .string.regexp {
    color: #fff;
}

pre .keyword, pre .selector {
    color: #FBDE2D;
}

pre .parent {
    font-style: italic;
}

pre .entity, pre .meta {
    color: #FF6400;
}

pre .support {
    color: #8DA6CE;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #FF6400;
}
.item-page pre .close, .itemFullText pre .close, .yoo-zoo pre .close{
	float: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: coral;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=20);

}