/**
 * Espresso Libre theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.0
 */
.item-page pre, .itemFullText pre, .yoo-zoo pre{
    background-color: #2a211c;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #bdae9d;
    font-size: 14px;
    margin-bottom: 20px;
}

.item-page code, .itemFullText code, .yoo-zoo code, .item-page pre, .itemFullText pre, .yoo-zoo pre {
    font-family: 'Monaco', courier, monospace;
}

pre .support.class, pre .support.type {
    color: #6d79de;
}

pre .support.constant {
    color: #00af0e;
}

pre .constant.language {
    color: #585cf6;
}

pre .support.function {
    font-weight: bold;
    color: #7290d9;
}

pre .string {
    color: #049b0a;
}

pre .constant.numeric {
    color: #44aa43;
}

pre .keyword, pre .storage {
    color: #43a8ed;
}

pre .entity.function {
    color: #ff9358;
}

pre .comment {
    color: #0066ff;
    font-style: italic;
}

pre .constant.symbol {
    color:#c5656b;
}

pre .variable.instance, pre .variable.language, pre .constant {
    color: #318495;
}
.item-page pre .close, .itemFullText pre .close, .yoo-zoo pre .close{
	float: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: coral;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=20);

}