/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.1
 * adapted by Ghazal for Joomla and some of its extensions : K2 and Zoo
 */
.item-page pre, .itemFullText pre, .yoo-zoo pre{
    border: 1px solid #ccc;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

.item-page code, .itemFullText code, .yoo-zoo code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

.item-page pre code, .itemFullText pre code, .yoo-zoo pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.item-page pre, .item-page code, .itemFullText pre, .itemFullText code, .yoo-zoo pre, .yoo-zoo code {
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 13px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}


pre .tag, pre .tag-name {
    color: coral;
}


pre .keyword, pre .css-property, pre .sass, pre .class, pre .id, pre .css-value {
    font-weight: normal;
}

pre .keyword{color: green;}
pre .css-property{color: crimson;}
pre .css-value{color: purple;}
pre .vendor-prefix{color: orange;}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .meta.class {
    color: #458;
}

pre .meta.id {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}
.item-page pre .close, .itemFullText pre .close, .yoo-zoo pre .close{
	float: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: coral;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=20);

}
