/**
 * Tricolore theme
 *
 * @author Jean Nicolas
 * @version 1.0.1
 */
.item-page pre, .itemFullText pre, .yoo-zoo pre{
    background: #FFF;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #000;
    font-size: 12px;
    margin-bottom: 20px;
	line-height: 16px;
}

.item-page code, .itemFullText code, .yoo-zoo code, .item-page pre, .itemFullText pre, .yoo-zoo pre {
    font-family: 'Monaco', 'Consolas', monospace;
}

pre .comment {
    color: #7E7E7E;
	font-style: italic;
}

pre .constant {
    color: #18838A;
	font-weight: bold;
}

pre .storage {
    color: #0000A1;
}

pre .string {
    color: #8E0022;
}

pre .keyword, pre .selector {
    color: #0000A1;
	font-weight: bold;
}

pre .parent {
    font-style: italic;
}

pre .entity, pre .meta {
    color: #3E853F;
}

pre .support {
    color: #192140;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #3E853F;
}
.item-page pre .close, .itemFullText pre .close, .yoo-zoo pre .close{
	float: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: coral;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=20);

}