/**
 * Zenburnesque theme
 *
 * @author Flinn Mueller
 * @version 1.0
 * @attribution Adapted from Ultraviolet RubyGem
 */
.item-page pre, .itemFullText pre, .yoo-zoo pre{
    background: #404040;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #dedede;
    font-size: 14px;
    margin-bottom: 20px;
}

.item-page code, .itemFullText code, .yoo-zoo code, .item-page pre, .itemFullText pre, .yoo-zoo pre{
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #709070;
    font-style: italic;
}

pre .integer {
    color: #22C0FF;
}

pre .storage {
    color: #6080FF;
}

/* This includes regexes */
pre .string {
    color: #FF2020;
}

pre .keyword, pre .selector {
    color: #ffffa0;
}

pre .parent {
    font-style: italic;
}

pre .entity, pre .meta {
  color: #F09040;
}

pre .support {
    color: #C83730;
}

pre .variable.class {
  color: #FF8000;
}
.item-page pre .close, .itemFullText pre .close, .yoo-zoo pre .close{
	float: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: coral;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=20);

}